.tag{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(127, 112, 86);
}
.fp{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10rem;
}
div a{
    color: black;
    background-color:rgb(170, 125, 49);
    margin:0.2rem 0.15rem;
    padding:0.3rem 1rem;
    border-radius: 10rem;
    font-weight: 100;
}
div a:hover{
    opacity:0.9;
}